<div class="author">
<h1 class="authour__heading">Hi,I am Satyam</h1>
<p class="author__body">Creating A Bloging Website For Learning</p>
</div>
<img src="https://indiacsr.in/wp-content/uploads/2023/06/Blogging-Future-in-India.jpg" class="blog-img" width="781" height="428" >

<section class="articles">
    <h2 class="articles__heading">latest posts</h2>
 
    <ul class="article-ul">
          <li>
            <a href="#">
              <span>post title</span>
              <span class="article-list__date">Date</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>post title</span>
              <span class="article-list__date">Date</span>
            </a>
          </li>
      </ul>
    
    
     
        <a href="#" class="pagination">&lt; View Older Posts</a>
        
</section>